/* 栅格化, 参考bootstrap 栅格化 */
@grid-gutter-width:10px;
.container{
	padding:@grid-gutter-width;
}
.grid {
	display:-webkit-flex;
	-webkit-flex-wrap:wrap;

	display: flex;
	flex-wrap: wrap;

	margin-left:-@grid-gutter-width;
	margin-right:-@grid-gutter-width;
}

.grid-cell {
	-webkit-flex:1;
	flex: 1;
	padding: 0 @grid-gutter-width;
}
.col-1, .col-2, .col-3, .col-4{
	padding:0 @grid-gutter-width;
}
.grid .col-4 {
	-webkit-flex: 0 0 100%;
	flex: 0 0 100%;
}
.grid .col-3 {
	-webkit-flex:0 0 75%;
	flex: 0 0 75%;
}

.grid .col-2 {
	-webkit-flex: 0 0 50%;
	flex: 0 0 50%;
}

.grid .col-1 {
	-webkit-flex:0 0 25%;
	flex: 0 0 25%;
}