/* === layout === */
.ui-card {
  margin: 0 15px;
  overflow: hidden;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.ui-group-card {
    border: solid 1px #ddd;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    background-color: #ddd;
}
.ui-group-card input {
    border: none;
    margin: 0px;
    font-size: 18px;
    padding: 15px !important;
    border-radius: 0px;
    height: auto;
}
.ui-group-card input:first-child {
    margin-bottom: 1px;
}

.ui-card .ui-input-group:before, .ui-card .ui-input-group:after {
  height: 0;
}

.ui-content{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}