/* === layout === */

.ui-card {
    margin: 0 15px;
    overflow: hidden;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.ui-group-card {
    border: solid 1px #ddd;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    background-color: #ddd;
}
.ui-group-card input {
    border: none;
    margin: 0px;
    font-size: 18px;
    padding: 15px !important;
    border-radius: 0px;
    height: auto;
}
.ui-group-card input:first-child {
    margin-bottom: 1px;
}
.ui-card .ui-input-group:before,
.ui-card .ui-input-group:after {
    height: 0;
}
.ui-content {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* ---- 窗口（window）布局
    <body class="d6-container">
        <header class="d6-header">
            糗事百科---
        </header>
        <section class="content">
            
        </section>
        
        <footer class="d6-footer">
            自动撑开到底部，但是不固定
        </footer>
    </body>
 ----- */
/*
 * flex 兼容性问题，比较多，旧版需要加上-webkit，且没有发布删除-webkit的版本
 */
.d6-container {
    min-height: 100vh;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
}
.d6-content {
    -webkit-box-flex: 1;
    box-flex: 1;
}
/*
 * 为header添加垂直居中，display：box的后，text-align:center；失效；
 */
.d6-header, .d6-footer {
    display: -webkit-box;
    -webkit-box-align: center; /*垂直居中*/
    -webkit-box-pack: center; /*水平居中*/
}
/* 被d6-content 撑到底部的footer */
.d6-footer {
    width: 100%;
    background-color: #f00;
    height: 50px;
}
/* 被fixed到底部的footer */
.d6-footer-fixed{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #f00;
    height: 50px;
}