.ui-box {
    @width: auto;
    @height: auto;
    @border: 0 solid #eee;
    @background: #f2f2f2;
    @min-height: 200px;
    @text-align: center;
    @border-radius: 10px;
    @box-shadow: 0 0 20px #E0DCDC;
    .mx-ui-box(@width,@height,@border,@background,@min-height,@text-align,@border-radius,@box-shadow);
    >.ui-box-circle{
        @width: 100%;
        @height: auto;
        @border: 1px solid #eee;
        @background: #f2f2f2;
        @min-height: 50px;
        @overflow: hidden;
        .mx-ui-circle(@width,@height,@border,@background,@min-height,@overflow);
    }
}
.mx-ui-box( @width:auto; @height:auto; @border:0px; @background:#f2f2f2; @min-height:200px; @text-align:center; @border-radius:10px; @box-shadow:0px 0px 20px #E0DCDC; ) {
    width: @width;
    height: @height;
    min-height: @min-height;
    background: @background;
    border: @border;
    text-align: @text-align;
    border-radius: @border-radius;
    .box-shadow(@box-shadow);
}
.mx-ui-circle(@width:100%;@height:auto;@border:1px solid #eee;@background:#f2f2f2;@min-height:50px;@overflow:hidden) {
    width: @width;
    height: @height;
    min-height: @min-height;
    background: @background;
    border: 0;
    border-right: @border;
    border-bottom: @border;
    overflow: @overflow;
    &:active {
        background: darken(@background,2%);
    }
    &.ui-box-active {
        background: darken(@background,2%);
    }
}
