//
// Variables
// --------------------------------------------------

// color 

@blue:#007aff;
@red: #ff3b30;
@white: #ffffff;
@black: #000000;
@lightblue: #5ac8fa;
@yellow: #ffcc00;
@orange: #ff9500;
@pink: #ff2d55;
@green: #4cd964;
@gray: #8e8e93;

/* 栅格化, 参考bootstrap 栅格化 */
//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         0px;

