//
// Variables
// --------------------------------------------------

// color 

@blue:#007aff;
@red: #ff3b30;
@white: #ffffff;
@black: #000000;
@lightblue: #5ac8fa;
@yellow: #ffcc00;
@orange: #ff9500;
@pink: #ff2d55;
@green: #4cd964;
@gray: #8e8e93;

/*---------- buttons ---[Ly]-------*/
@btn-font-weight:                       none;
@btn-default-color:                     #ffffff;
@btn-default-bg:                        #0096ff;
@btn-default-border:                    transparent;

@padding-base-vertical:                 @padding-xs;
@padding-base-horizontal:               @padding-md;

@font-size-base:                        1em;
@line-height-base:                      1.5em;
@cursor-disabled:                       not-allowed;
/*---------- 圆角 ------[Ly]-----*/
@border-radius-xs: 0.3em;
@border-radius-sm: 0.4em;
@border-radius-md: 0.6em;
@border-radius-lg: 1.2em;
@border-radius-circular: 50%;
/*---------- font-size ------[Ly]-----*/
@font-size-xxs: 0.625em;
@font-size-xs: 0.75em;
@font-size-sm: 0.8125em;
@font-size-md: 1em;
@font-size-lg: 1.2em;
@font-size-xl: 1.5em;
@font-size-xxl: 1.8em;
/*---------- padding ------[Ly]-----*/
@padding-xs: 0.4em;
@padding-sm: 0.5em;
@padding-md: 0.8em;
@padding-lg: 1em;
@padding-xl: 1.2em;
/*---------- margin ------[Ly]-----*/
@margin-xs: 0.4em;
@margin-sm: 0.5em;
@margin-md: 0.8em;
@margin-lg: 1em;
@margin-xl: 1.2em;
/* 栅格化, 参考bootstrap 栅格化 */
//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         10px;

